<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
   <link rel="stylesheet" type="text/css" href="/login.css">
</head>
<body >
   
    <h1 class="log">Login</h1>
    <form action="/login" method="post" class="container">
        <input type="text" name="name" placeholder="Name" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <a href="/signup">new user?</a>
</body>
</html>
