<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    <h1 class="log">Sign Up</h1>
    <form action="/signup" method="post" class="container">
        <input type="text" name="name" placeholder="Name" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Sign Up</button>
    </form>
    <a href="/">already signup?</a>
</body>
</html>
